.app {
    width: 100%;
    height: 100vh;

    padding: 2em;

    display: flex;
    flex-direction: row;

    box-sizing: border-box;

    > .left-panel {
        flex: initial;
        width: 30em;
        height: 100%;

        padding: 0 2em;

        box-sizing: border-box;

        .properties {
            width: 100%;
            height: 100%;

            .property {
                margin: 1em 0;
            }

            > .dimension-input-container {
                width: 100%;
                height: 100%;

                .inputs-wrapper {
                    display: flex;

                    > .dimension-input.width {
                        margin-right: 0.5em;
                    }

                    > .dimension-input.height {
                        margin-left: 0.5em;
                    }
                }
            }
        }
    }

    > .right-panel {
        flex: 1;
        min-width: 50em;
        height: 100%;

        padding: 0 2em;

        box-sizing: border-box;

        > .image-content-card {
            width: 100%;
            height: 50em;
        }

        .canvas-wrapper {
            width: 100%;
            height: 100%;

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
    }
}
